<template>
  <section id="about" class="section bg-light-secondary dark:bg-dark-secondary">
    <div
      class="container mx-auto"
      v-motion
      :initial="{
        opacity: 0,
        y: 100,
      }"
      :visible="{
        opacity: 1,
        y: 0,
      }"
    >
      <div class="flex flex-col xl:flex-row gap-24">
        <img
          class="object-cover h-full w-[566px] md:mx-auto lg:mx-0 rounded-2xl"
          src="http://127.0.0.1:8000/img/poto_about.jpeg"
          alt="about"
        />
        <div
          class="
            flex flex-col
            items-center
            text-center
            lg:items-start lg:text-left
          "
        >
          <div class="flex flex-col">
            <h2 class="text-3xl lg:text-4xl font-medium lg:font-extrabold mb-3">
              About Me
            </h2>
            <P class="mb-4 text-accent"><b>Hi, Saya Wina</b></P>
            <hr class="mb-8 opacity-90 dark:opacity-5"/>
            <p class="mb-8">
              <h2><b>Saya merupakan seorang mahasiswa yang sedang menempuh pendidikan di
              Politeknik Negeri Sambas, Semester 3 Prodi Manajemen Informatika. </b></h2>
              <br />
              <h2><b>Selama Kuliah saya suka membuat sebuah website dan saya akan terus menambah skill saya dan akan terus
              mengasah soft skill saya seperti pemecahan masalah dan bekerja dalam tim.</b></h2>
              
              <br />
              <br />
              <br />
              <br />
              <h2><b>Tertarik bekerja sama dengan saya.</b></h2>
            </p>
          </div>
          <a href="#contact" class="btn btn-md bg-accent text-light-tail-100">
            Contact me
          </a>
        </div>
      </div>
    </div>
  </section>
</template>