<script setup>
</script>
<template>
  <footer class="bg-light-secondary dark:bg-dark-secondary py-12">
    <div class="container mx-auto">
      <div
        class="
          flex flex-col
          md:flex-row
          space-y-6
          lg:space-y-0
          items-center
          justify-between
        "
      >
        <div class="flex space-x-6 items-center justify-center">
          <img
            class="h-8 w-auto"
            src="http://127.0.0.1:8000/img/logo_wina.png"
            alt="Laraveller.com"
          />
        </div>
        <p class="text-paragraph opacity-80 text-[15px]">
          &copy; 2022 Portfolio Wina.com All right reserved.
        </p>
      </div>
    </div>
  </footer>
</template>