<template>
  <div class="bg-light-tail-100 dark:bg-dark-navy-500">
    <div
      class="
        container
        mx-auto
        py-12
        px-4
        sm:px-6
        lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8
      "
    >
      <h2
        class="
          text-3xl
          font-bold
          tracking-tight
          text-light-tail-500
          dark:text-dark-navy-100
          sm:text-4xl
        "
      >
        <span class="block"></span>
        
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
        </div>
      </div>
    </div>
  </div>
</template>
